.container {
display: grid;
  grid-template-areas:
    "sidebar main";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1vh; /* Header height is 80px, rest is content */
  height: 100vh;
}

.sidebar {
    width: 250px;
    height: 100vh;
    flex-shrink: 0;
    /* Prevents the sidebar from squishing */
    margin: 0 auto;
    text-align: center;
    border-right: 2px solid #F0C400;
}

.content {
    flex-grow: 1;
    /* Tells the content to take up all available space */
    padding: 20px;
}

.Links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #777777;
    width: 80%;
    height: 2.5rem;
    margin: 0.75rem auto;
    border-radius: 7px;

    &:hover {
        color: #1A1A1A;
        background-color: #FFFB9080;
    }
}

.Links.active {
    background-color: #FFFB90;
    color: #1A1A1A;
}

.icon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.logo {
    margin-right: auto;
}